body {
  margin: 0 auto;
  box-sizing: border-box;
}

.navbar {
  height: 80px;
  width: 100%;
  background-color: rgba(2, 22, 145, 0.1);
  /* margin-top: -15px; */
  border: 1px solid magenta;
  box-shadow: 2px 1px 7.5px lightgray;
  display: flex;
  align-items: center;
}

.navbar img {
  margin: 15px 15px;
  max-width: 250px;
}

.nav-links {
  width: 100%;
  display: flex;
  border: 1px solid magenta;
  justify-content: space-between;
  list-style-type: none;
  gap: 15px;
}
