body {
  margin: 0 auto;
  box-sizing: border-box;
  /*  dd */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  height: 80px;
  width: 100%;
  background-color: rgba(2, 22, 145, 0.1);
  /* margin-top: -15px; */
  /* border: 1px solid magenta; */
  box-shadow: 1px 1px 1px black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar > :last-child {
  margin-right: 15px;
  padding: 12px 18px;
}

.nav-img {
  margin: 15px 15px;
  max-width: 250px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  border: 1px solid magenta;
  list-style-type: none;
  gap: 50px;
  font-size: 32px;
  cursor: pointer;
}

.home {
  background: linear-gradient(to bottom, #d4dc00, #fff);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  /* overflow: hidden; */
}

.sign-btn {
  padding: 250px;
}
