body {
  margin: 0 auto;
  box-sizing: border-box;
  /*  dd */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  height: 80px;
  width: 100%;
  background-color: rgba(2, 22, 145, 0.1);
  box-shadow: 1px 1px 1px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign-btn {
  margin-right: 15px;
  padding: 15px 40px;
  background-color: rgb(53, 226, 53);
  color: white;
  border-radius: 5px;
  border: solid 1px black;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.nav-img {
  margin: 15px 15px;
  max-width: 250px;
}

.home {
  background: linear-gradient(to bottom, #d4dc00, #fff);
  height: 100vh;
}

.sign-btn {
  /* padding: 250px; */
  cursor: pointer;
}

.nav-link-wrap {
  margin-left: -500px;
  gap: 15px;
}

.iva {
  display: flex;
  gap: 15px;
}

.nav-icon-link {
  list-style-type: none;
  cursor: pointer;
}

.nav-link {
  display: flex;
  align-items: center;
}
